Repository andrewthetechie/gha-repo-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - pyproject.toml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py311-plus

Update test_file.py
  tests/unit/schemas/test_file.py
Due: bandit, pyupgrade

Update file.py
  repo_manager/schemas/file.py
Due: bandit, pyupgrade

Update action-integration.yml
  .github/workflows/action-integration.yml
Due: check-yaml

Update pyproject.toml
  pyproject.toml
Due: check-toml

Update poetry.lock
  poetry.lock
Due: none

Update secret.py
  repo_manager/schemas/secret.py
Due: bandit, pyupgrade

Create environment.py
  repo_manager/schemas/environment.py
Due: bandit, pyupgrade

Create environments.py
  repo_manager/github/environments.py
Due: bandit, pyupgrade

Create collaborators.py
  repo_manager/github/collaborators.py
Due: bandit, pyupgrade

Create collaborator.py
  repo_manager/schemas/collaborator.py
Due: bandit, pyupgrade

Create variables.py
  repo_manager/github/variables.py
Due: bandit, pyupgrade

Update settings.yml
  examples/settings.yml
Due: check-yaml

Update main.py
  repo_manager/main.py
Due: bandit, pyupgrade

Update secrets.py
  repo_manager/github/secrets.py
Due: bandit, pyupgrade

Update __init__.py
  repo_manager/schemas/__init__.py
Due: bandit, pyupgrade

Update variables.py
  repo_manager/github/variables.py
Due: bandit, pyupgrade

Update environments.py
  repo_manager/github/environments.py
Due: bandit, pyupgrade

Path conditions:
  bandit: any of: \.py$, but not: .*tests/fixtures.*
  check-toml: any of: \.toml$, but not: .*tests/fixtures.*
  check-yaml: any of: \.(yaml|yml)$, but not: .*tests/fixtures.*
  pyupgrade: any of: \.py$, but not: .*tests/fixtures.*
