Repository andrewthetechie/gha-repo-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml

.pre-commit-config.yaml:

exclude: ".*tests\/fixtures.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint-docker
        name: Actionlint
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "pyproject.toml"]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: local
    hooks:
      - id: update-inputs
        name: Update inputs
        entry: make generate-inputs
        language: system
        pass_filenames: false

chore: Cleanup code and use more pygithub methods
  repo_manager/gh/__init__.py
  repo_manager/gh/secrets.py
  repo_manager/main.py
Due: bandit

fix: Add transparency of check command
  repo_manager/main.py
Due: bandit

chore: Linting
  repo_manager/gh/secrets.py
  repo_manager/gh/variables.py
Due: bandit

fix: Output diffs on check action
  repo_manager/main.py
Due: bandit

chore: Linting
  repo_manager/gh/environments.py
Due: bandit

chore: Update diffs logging
  repo_manager/main.py
Due: bandit

fix: Debugging issues with token permissions
  repo_manager/gh/settings.py
Due: bandit

fix: Bad Code
  repo_manager/gh/settings.py
Due: bandit

Update action-integration.yml
  .github/workflows/action-integration.yml
Due: check-yaml

fix: Oauth checks for certain settings
  repo_manager/gh/settings.py
Due: bandit

fix: Add info if oauth scope exists but still unable to access settings
  repo_manager/gh/settings.py
Due: bandit

chore: Linting
  repo_manager/gh/settings.py
Due: bandit

fix: Include error message on failure to get branch protections
  repo_manager/gh/branch_protections.py
Due: bandit

feat: Ability to configure repo Collaborators (teams + users) (#232)
  examples/settings.yml
  repo_manager/gh/branch_protections.py
  repo_manager/gh/collaborators.py
  repo_manager/gh/settings.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
  repo_manager/schemas/collaborator.py
  repo_manager/utils/__init__.py
Due: bandit, check-yaml

Revert "feat: Ability to configure repo Collaborators (teams + users) (#232)"
  examples/settings.yml
  repo_manager/gh/branch_protections.py
  repo_manager/gh/collaborators.py
  repo_manager/gh/settings.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
  repo_manager/schemas/collaborator.py
  repo_manager/utils/__init__.py
Due: bandit, check-yaml

Revert "feat: Ability to configure repo Collaborators (teams + users) (#232)" (#247)
  examples/settings.yml
  repo_manager/gh/branch_protections.py
  repo_manager/gh/collaborators.py
  repo_manager/gh/settings.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
  repo_manager/schemas/collaborator.py
  repo_manager/utils/__init__.py
Due: bandit, check-yaml

fix: Allow Action Test to Use PAT of target repo
  .github/workflows/action-integration.yml
Due: check-yaml

doc: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(main): release 1.8.0
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(main): release 1.8.0 (#236)
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

feat: Adjust repo for self-management (#16)
  .github/settings.yml
  .github/workflows/action-integration.yml
  .github/workflows/python-ci.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/release-major-version-tag.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/test-docker-image.yml
  poetry.lock
  pyproject.toml
  repo_manager/gh/labels.py
  repo_manager/gh/settings.py
  repo_manager/main.py
  repo_manager/schemas/label.py
  repo_manager/schemas/settings.py
  tests/unit/schemas/test_label.py
Due: bandit, check-toml, check-yaml

feat: Ability to configure repo Collaborators (teams + users) (#18)
  examples/settings.yml
  repo_manager/gh/branch_protections.py
  repo_manager/gh/collaborators.py
  repo_manager/gh/settings.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
  repo_manager/schemas/collaborator.py
  repo_manager/utils/__init__.py
Due: bandit, check-yaml

feat: Ability to configure repo Variables (#19)
  examples/settings.yml
  repo_manager/gh/__init__.py
  repo_manager/gh/secrets.py
  repo_manager/gh/variables.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
Due: bandit, check-yaml

chore: Documentation for Marketplace changes
  action.yml
Due: check-yaml

feat: Ability to configure deployment environments (including their secrets/variables) (#20)
  .github/workflows/generate-docs.yml
  examples/settings.yml
  repo_manager/gh/environments.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
  repo_manager/schemas/environment.py
Due: bandit, check-yaml

docs: Update Readme
  README.md
Due: none

fix: Auto Docs action-docs-action workflow (#21)
  .github/workflows/generate-docs.yml
  README.md
Due: check-yaml

ci: Update workflows to run when needed (#22)
  .github/workflows/action-integration.yml
  .github/workflows/python-ci.yml
Due: check-yaml

chore: More self-management updates (#23)
  .all-contributorsrc
  .github/workflows/action-integration.yml
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore: More cleanup of unnecessary action runs
  .github/workflows/action-integration.yml
  .github/workflows/python-ci.yml
Due: check-yaml

chore: Fixing issues with workflows (#25)
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/python-ci.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/release-major-version-tag.yml
  .github/workflows/release.yml
  .github/workflows/test-docker-image.yml
  CHANGELOG.md
  README.md
  pyproject.toml
Due: check-toml, check-yaml

chore: Redoing release 1.9.0 to test docker image issue (#28)
  .github/workflows/release-docker-images.yml
  CHANGELOG.md
  action.yml
Due: check-yaml

feat!: Fix JSON Dump, Required Review Boundaries, and improve documentation (#43)
  .github/.release-please-manifest.json
  .github/settings.yml
  .github/workflows/action-integration.yml
  .github/workflows/codeql.yml
  .github/workflows/python-ci.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/release-major-version-tag.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/test-docker-image.yml
  CHANGELOG.md
  Dockerfile
  action.yml
  docs/tips.md
  poetry.lock
  pyproject.toml
  release-please-config.json
  repo_manager/gh/branch_protections.py
  repo_manager/gh/files.py
  repo_manager/gh/secrets.py
  repo_manager/main.py
  repo_manager/schemas/branch_protection.py
  repo_manager/schemas/file.py
  repo_manager/utils/__init__.py
  tests/unit/github/test_files.py
Due: bandit, check-toml, check-yaml

Revert "feat!: Fix JSON Dump, Required Review Boundaries, and improve documentation (#43)"
  .github/.release-please-manifest.json
  .github/settings.yml
  .github/workflows/action-integration.yml
  .github/workflows/codeql.yml
  .github/workflows/python-ci.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/release-major-version-tag.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/test-docker-image.yml
  CHANGELOG.md
  Dockerfile
  action.yml
  docs/tips.md
  poetry.lock
  pyproject.toml
  release-please-config.json
  repo_manager/gh/branch_protections.py
  repo_manager/gh/files.py
  repo_manager/gh/secrets.py
  repo_manager/main.py
  repo_manager/schemas/branch_protection.py
  repo_manager/schemas/file.py
  repo_manager/utils/__init__.py
  tests/unit/github/test_files.py
Due: bandit, check-toml, check-yaml
