Repository andrewthetechie/gha-repo-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml, pyupgrade

.pre-commit-config.yaml:

exclude: ".*tests\/fixtures.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: "v0.0.267"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.24
    hooks:
      - id: actionlint-docker
        name: Actionlint
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "pyproject.toml"]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py311-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: local
    hooks:
      - id: update-inputs
        name: Update inputs
        entry: make generate-inputs
        language: system
        pass_filenames: false

fix: fix bugs from pr 43 (#45)
  repo_manager/github/branch_protections.py
Due: bandit, pyupgrade

ci(tokens_and_repos): Updated Tokens and Repo Conditions (#37)
  .github/workflows/action-integration.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/generate-docs.yml
  .github/workflows/issues.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/release-major-version-tag.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: check-yaml

fix: add debug logging of diff
  repo_manager/main.py
Due: bandit, pyupgrade

ci: reset action integration to use PAT
  .github/workflows/action-integration.yml
Due: check-yaml

fix: add debug logging of diff (#46)
  .github/workflows/action-integration.yml
  repo_manager/main.py
Due: bandit, check-yaml, pyupgrade

chore(main): release 1.7.0
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(main): release 1.7.0 (#26)
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

fix(branch_protections.py): Handle Null Value
  repo_manager/github/branch_protections.py
Due: bandit, pyupgrade

fix(branch_protection.py): Handle null values
  repo_manager/schemas/branch_protection.py
Due: bandit, pyupgrade

ci: update to run on pull_request too
  .github/workflows/action-integration.yml
  .github/workflows/generate-docs.yml
  .github/workflows/python-ci.yml
  .github/workflows/test-docker-image.yml
Due: check-yaml

fix(nulls): Minor fixes to address null values (#52)
  repo_manager/github/branch_protections.py
  repo_manager/schemas/branch_protection.py
Due: bandit, pyupgrade

chore(main): release 1.7.1
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(main): release 1.7.1 (#53)
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

fix: remove upx
  Dockerfile
Due: none

fix: readd upx, pin to bullseye
  Dockerfile
Due: none

fix: pin to bullseye docker image (#69)
  Dockerfile
Due: none

chore(main): release 1.7.2
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(main): release 1.7.2 (#70)
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

ci: update issues workflow
  .github/workflows/issues.yml
Due: check-yaml

ci: update dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: check-yaml

feat: Add ability to configure environments, collaborators, and variables (#11)
  examples/settings.yml
  poetry.lock
  pyproject.toml
  repo_manager/github/collaborators.py
  repo_manager/github/environments.py
  repo_manager/github/secrets.py
  repo_manager/github/variables.py
  repo_manager/main.py
  repo_manager/schemas/__init__.py
  repo_manager/schemas/branch_protection.py
  repo_manager/schemas/collaborator.py
  repo_manager/schemas/environment.py
  repo_manager/schemas/file.py
  repo_manager/schemas/secret.py
  repo_manager/utils/__init__.py
Due: bandit, check-toml, check-yaml, pyupgrade

chore: poetry update
  poetry.lock
Due: none

ci: ruff autoformat
  .all-contributorsrc
  .pre-commit-config.yaml
  noxfile.py
  repo_manager/github/branch_protections.py
  repo_manager/github/files.py
  repo_manager/github/repos.py
  repo_manager/github/settings.py
  repo_manager/schemas/secret.py
  repo_manager/utils/__init__.py
Due: bandit, check-yaml, pyupgrade

chore: bump pygithub and ruff
  poetry.lock
  pyproject.toml
Due: check-toml

Update poetry.lock
  poetry.lock
Due: none

Update pyproject.toml
  pyproject.toml
Due: check-toml

Update branch_protection.py
  repo_manager/schemas/branch_protection.py
Due: bandit, pyupgrade

Update file.py
  repo_manager/schemas/file.py
Due: bandit, pyupgrade

Update secret.py
  repo_manager/schemas/secret.py
Due: bandit, pyupgrade

ci: remove bandit from nox
  noxfile.py
Due: bandit, pyupgrade

Merge remote-tracking branch 'src/main' into feat/pydantic2.0
  noxfile.py
  package-requirements.txt
  poetry.lock
  pyproject.toml
Due: bandit, check-toml, pyupgrade
