Repository andrewthetechie/gha-repo-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - pyproject.toml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py311-plus

doc(generate-docs.yml): Disabled for non-codeowners
  .github/workflows/generate-docs.yml
Due: check-yaml

test(generate-docs.yml): Non-code Owner
  .github/workflows/generate-docs.yml
Due: check-yaml

fix: fix all ruff issues
  .github/scripts/replace_inputs.sh
  action.yml
  repo_manager/main.py
  repo_manager/schemas/branch_protection.py
  repo_manager/schemas/file.py
  repo_manager/schemas/settings.py
  repo_manager/utils/__init__.py
  repo_manager/utils/_inputs.py
Due: bandit, check-yaml, pyupgrade

docs: automated doc update
  README.md
Due: none

fix(generate-docs.yml): Toggled to run only for code owner
  .github/workflows/generate-docs.yml
Due: check-yaml

fix(integration.yml): Disabled for non-CodeOwner repos
  .github/workflows/integration.yml
Due: check-yaml

fix: fix pre-commit and ci
  .github/workflows/action-integration.yml
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
  noxfile.py
  pyproject.toml
  pytest.ini
Due: bandit, check-toml, check-yaml, pyupgrade

fix: update action.yml and remove old integration
  .github/workflows/integration.yml
  action.yml
Due: check-yaml

ci: move codeql to run on main only
  .github/workflows/codeql.yml
  noxfile.py
Due: bandit, check-yaml, pyupgrade

ci: update noxfile
  noxfile.py
Due: bandit, pyupgrade

docs: doc cleanup
  .flake8
  DEVELOPER.md
  README.md
Due: none

feat: Poetry rework (#19)
  .dockerignore
  .flake8
  .github/scripts/replace_inputs.sh
  .github/workflows/action-integration.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/python-ci.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/release-major-version-tag.yml
  .github/workflows/release-please.yml
  .github/workflows/test-docker-image.yml
  .github/workflows/unit-test.yml
  .pre-commit-config.yaml
  .prettierignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEVELOPER.md
  Docker/ActionDockerfile.j2
  Docker/Dockerfile
  Docker/builder/rootfs/requirements.txt
  Dockerfile
  Makefile
  README.md
  action.yml
  noxfile.py
  package-requirements.txt
  poetry.lock
  pyproject.toml
  pytest.ini
  repo_manager/github/secrets.py
  repo_manager/main.py
  repo_manager/schemas/branch_protection.py
  repo_manager/schemas/file.py
  repo_manager/schemas/settings.py
  repo_manager/utils/__init__.py
  repo_manager/utils/_inputs.py
  requirements-dev.txt
  tests/unit/github/test_files.py
  tests/unit/schemas/test_label.py
Due: bandit, check-toml, check-yaml, pyupgrade

chore(main): release 1.5.0
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(main): release 1.5.0 (#20)
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

docs: cleanup badges
  README.md
Due: none

feat: support for github enterprise
  action.yml
  pyproject.toml
  repo_manager/github/__init__.py
  repo_manager/utils/__init__.py
  repo_manager/utils/_inputs.py
Due: bandit, check-toml, check-yaml, pyupgrade

fix: api_url keyword
  repo_manager/utils/__init__.py
Due: bandit, pyupgrade

docs: fix action descriptions to remove newlines
  action.yml
  repo_manager/utils/_inputs.py
Due: bandit, check-yaml, pyupgrade

feat: ghe support (#23)
  README.md
  action.yml
  pyproject.toml
  repo_manager/github/__init__.py
  repo_manager/utils/__init__.py
  repo_manager/utils/_inputs.py
Due: bandit, check-toml, check-yaml, pyupgrade

chore: add debug outputs for github urls
  repo_manager/utils/__init__.py
Due: bandit, pyupgrade

chore(main): release 1.6.0
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(main): release 1.6.0 (#24)
  CHANGELOG.md
  action.yml
  pyproject.toml
Due: check-toml, check-yaml

fix(poetry): update to poetry 1.5
  package-requirements.txt
Due: none

feat: update poetry (#25)
  package-requirements.txt
Due: none

fix(branch_status_checks): Fixed Branch Status check changes
  repo_manager/github/branch_protections.py
Due: bandit, pyupgrade

feature(compare_pr_dismissers): Able to compare users and teams that can dismiss Pull Requests
  repo_manager/utils/__init__.py
Due: bandit, pyupgrade

feat(compare_pr_dismissers): Added feature to compare PR Dismissal groups
  repo_manager/github/branch_protections.py
Due: bandit, pyupgrade

bug(missing_var_dec): Was missing declaration of post_parameters
  repo_manager/github/branch_protections.py
Due: bandit, pyupgrade

chore(example): Example was missing require_conversation_resolution
  examples/settings.yml
Due: check-yaml

chore(GITHUB_TOKEN): Use of GITHUB_TOKEN makes it compatible for forks
  .github/workflows/action-integration.yml
Due: check-yaml

chore(GITHUB_TOKEN): Use of GITHUB_TOKEN makes it compatible for forks
  .github/workflows/dependabot-auto-merge.yml
Due: check-yaml

chore(GITHUB_TOKEN): Use of GITHUB_TOKEN makes it compatible for forks
  .github/workflows/generate-docs.yml
Due: check-yaml

docs(discord): Prevents GH Action from running in forks
  .github/workflows/issues.yml
Due: check-yaml

docs(release-docker): Prevents GH Action from running on forks
  .github/workflows/release-docker-images.yml
Due: check-yaml

Path conditions:
  bandit: any of: \.py$, but not: .*tests/fixtures.*
  check-toml: any of: \.toml$, but not: .*tests/fixtures.*
  check-yaml: any of: \.(yaml|yml)$, but not: .*tests/fixtures.*
  pyupgrade: any of: \.py$, but not: .*tests/fixtures.*
